@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

























#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #412323;
}
#menu-0 .mbr-navbar__section {
  background: #412323;
}
#menu-0 .mbr-navbar__hamburger {
  color: #f2e7d7;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 16px;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
#slider-2 H1 {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Lora', serif;
  text-align: center;
}
#slider-2 P {
  font-size: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-i .mbr-header__text {
  color: #efcd91;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  text-align: left;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}
#msg-box4-i .mbr-article P {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-align: left;
}
#msg-box4-i .btn {
  font-family: 'Montserrat', sans-serif;
}
#header3-10 H3 {
  text-align: center;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}
#header3-10 P {
  text-align: center;
  color: #a38f84;
  font-family: 'Lora', serif;
  font-size: 15px;
}
#header3-10 B {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#msg-box3-8 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #b8312f;
  font-size: 30px;
}
#msg-box3-8 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-8 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #b8312f;
  font-size: 30px;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#msg-box3-7 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #b8312f;
  font-size: 30px;
}
#msg-box3-7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #b8312f;
  font-size: 30px;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5 .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#msg-box3-a .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #b8312f;
  font-size: 30px;
}
#msg-box3-a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-a .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#form1-7 .mbr-header__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#form1-7 .btn {
  font-family: 'Montserrat', sans-serif;
}
#social-buttons2-4 .mbr-header__text {
  text-align: center;
}
#contacts1-1 P {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#contacts1-1 STRONG {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#contacts1-1 DIV {
  color: #ffffff;
}
#footer1-11 P {
  text-align: center;
  color: #9c9c9c;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
}
























#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #412323;
}
#menu-m .mbr-navbar__section {
  background: #412323;
}
#menu-m .mbr-navbar__hamburger {
  color: #f2e7d7;
}
#menu-m .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 16px;
}
#menu-m .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
#header3-q H3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #000000;
}
#header3-v H3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #b8312f;
}
#header3-v P {
  font-family: 'Montserrat', sans-serif;
  color: #b8312f;
}
#header3-v B {
  font-size: 15px;
}
#content1-u DIV {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
#header3-x H3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #b8312f;
}
#header3-x P {
  font-family: 'Montserrat', sans-serif;
  color: #b8312f;
}
#header3-x B {
  font-size: 15px;
}
#content1-y DIV {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
#header3-z H3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #b8312f;
}
#header3-z P {
  font-family: 'Montserrat', sans-serif;
  color: #b8312f;
}
#header3-z B {
  font-size: 15px;
}
#content1-10 DIV {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
#header3-11 H3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #b8312f;
}
#header3-11 P {
  font-family: 'Montserrat', sans-serif;
  color: #b8312f;
}
#header3-11 B {
  font-size: 15px;
}
#content1-12 DIV {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
#header3-13 H3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #b8312f;
}
#header3-13 P {
  font-family: 'Montserrat', sans-serif;
  color: #b8312f;
}
#header3-13 B {
  font-size: 15px;
}
#content1-14 DIV {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
#header3-15 H3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #b8312f;
}
#header3-15 P {
  font-family: 'Montserrat', sans-serif;
  color: #b8312f;
}
#header3-15 B {
  font-size: 15px;
}
#content1-16 DIV {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
#contacts1-n P {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#contacts1-n STRONG {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#contacts1-n DIV {
  color: #ffffff;
}
#footer1-o P {
  text-align: center;
  color: #9c9c9c;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
}







#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #412323;
}
#menu-j .mbr-navbar__section {
  background: #412323;
}
#menu-j .mbr-navbar__hamburger {
  color: #f2e7d7;
}
#menu-j .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 16px;
}
#menu-j .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
#header3-p H3 {
  font-family: 'Montserrat', sans-serif;
}
#content1-17 DIV {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
#contacts1-k P {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#contacts1-k STRONG {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#contacts1-k DIV {
  color: #ffffff;
}
#footer1-l P {
  text-align: center;
  color: #9c9c9c;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
}







#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #412323;
}
#menu-18 .mbr-navbar__section {
  background: #412323;
}
#menu-18 .mbr-navbar__hamburger {
  color: #f2e7d7;
}
#menu-18 .mbr-brand__name a {
  font-family: 'Lora', serif;
  font-size: 16px;
}
#menu-18 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
#msg-box3-1c .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Lora', serif;
  color: #b8312f;
  font-size: 30px;
}
#msg-box3-1c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #7c706b;
  font-size: 13px;
}
#msg-box3-1c .mbr-article P {
  text-align: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
#msg-box3-1c .mbr-article {
  color: #412323;
}
#contacts1-19 P {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#contacts1-19 STRONG {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#contacts1-19 DIV {
  color: #ffffff;
}
#footer1-1a P {
  text-align: center;
  color: #9c9c9c;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
}
